$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #6E7191 !default;
$gray-800: #4E4B66 !default;
$gray-900: #14142A !default;
$black:    #000 !default;

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #F46F6F !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #25B013 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$grays: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
) !default;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800
) !default;


$primary:       $green !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;


$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "mediumscreen.css";
@import "smallscreen.css";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#root {
  min-height: 100vh;
}

p {
  margin: 0;
}

span {
  margin: 0;
}

h1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
}

h2 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
}

h3 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 54px;
}

h4 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 40px;
}

h5 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

h6 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.loading {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000000;
}

.done-loading {
  display: none !important;
}

.btn-no-outline-primary {
  border: none !important;
  color: $primary !important;

  &:hover,
  &:active,
  &:focus {
    color: darken($primary, 15%) !important;
    border: 0 !important;
    outline: 0 !important;
  }
}

.btn-outline-status {
  border: 1px solid $gray-900 !important;
  color: $gray-900 !important;
  background-color: none !important;
  border-radius: 10px !important;
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  &:hover {
    color: darken($primary, 15%) !important;
    border: 1px solid darken($primary, 15%) !important;
  }
  &:active,
  &:focus,
  &.active {
    color: $primary !important;
    border: 1px solid $primary !important;
  }
}

.card-link {
  &:hover {
    color: darken(#25b013, 15%) !important;
  }
}

.bg-dark {
  background-color: $gray-900 !important;
}

.lead {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: $gray-800 !important;
}

.subtitle-1 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.subtitle-2 {
  font-family: Manrope;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.body-text,
.form-label {
  font-family: Manrope;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.no-hover:hover {
  color: $body-color;
}

.large-label {
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.medium-label {
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
}

.small-label {
  font-family: Manrope;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}

.text-green {
  color: #25b013;
}

.inline {
  display: inline;
}

.home {
  background-position: 110% 100%;
  background-repeat: no-repeat;
}

// .product-img, .category-img {
//   max-height: 250px;
//   height: auto;
//   width: 100%;
// }

.product-img,
.category-img {
  width: 100%;
  height: 10vw;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.dropdown-item:hover, .dropdown-item.active {
  background-color: $primary;
  color: white !important;
}

.dropdown-logout:hover {
  background: #f46f6f;
  color: white !important;
}
.dropdown-logout {
  color: #f46f6f;
}

a {
  color: $gray-900;
}

a:hover {
  text-decoration: none;
}

.active {
  color: $green !important;
}

.borderless-cell {
  border: none !important;
}

.non-button {
  background: none;
  color: inherit;
  border: transparent;
  cursor: pointer;
  outline: inherit;
}

.checkoutContainer > .container {
  padding-bottom: 8rem;
}

.bodyContainer {
  margin-top: 5.5rem;
}

.bodyContainer > .container,
.bodyContainer > .container-fluid {
  padding-bottom: 8rem;
}

.footer {
  min-height: 15rem;
}

.card {
  border: 0 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
}

// ProgressBar

.progress-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.bullet {
  position: relative;
  background: #eff0f6;
  border-radius: 1000px;
  width: 65px;
  height: 65px;
  margin: 10px;
  text-align: center;
  line-height: normal;
  font-size: 30px;
}

.bullet .progress-item {
  color: #6e7191;
  font-family: "Manrope";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
}

.bullet::after {
  position: absolute;
  top: 50%;
  content: "";
  position: absolute;
  border: 2px dashed #eff0f6;
  width: 22vw;
  height: 0px;
  z-index: -2;
}

.bullet:last-child:after {
  content: none;
}

.bullet .bar-active::after {
  position: absolute;
  top: 50%;
  content: "";
  position: absolute;
  border: 2px solid #25b013;
  width: 22vw;
  height: 0px;
  z-index: -1;
}

.bullet:last-child .bar-active::after {
  content: none;
}

.bullet .bar-active {
  content: "tes";
  color: #fcfcfc;
  background: #25b013;
  border-radius: 1000px;
  width: 65px;
  height: 65px;
}

// Progress Bar

//login & Daftar
.logincontainer {
  width: 32%;
  margin-top: 10%;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #eff0f6;
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

.button_login {
  padding-left: 16%;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/768px-Google_%22G%22_Logo.svg.png)
    no-repeat 12% center;
  background-size: 5%;
}

//login & Daftar//
